<form [formGroup]="signInForm" (ngSubmit)="handleLogin()">
    <h1 class="text"> welcome! </h1>
    <div class="input-group mb-3 input-login">
        <span class="input-group-text">
            <bi name="envelope"></bi>
        </span>
        <input formControlName="email" type="text" class="form-control"
            placeholder="E-mail" aria-label="E-mail"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3 input-login">
        <span class="input-group-text">
            <bi name="lock-fill"></bi>
        </span>
        <input formControlName="password" type="password" class="form-control"
            placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1" >
    </div>

    <button type="submit" class="btn btn-primary btn-filled">Sign in</button>
    <a (click)="handleResetPasswordDisplay()"> Reset Password </a>
</form>