<div class="container-fluid reset-password-page">
    <div class="container-sm page-container">
        <div>
            <h1 class="text">Recover your account</h1>
            <p class="text">All you have to do is tell us your account's email address and 
                we will send you a link to reset your password</p>
        </div>

        <input type="text"
        placeholder="Account e-mail" aria-label="E-mail"
        aria-describedby="basic-addon1" required email>

        <button type="submit" class="btn btn-primary btn-filled">Send reset email</button>

        <a (click)="returnToSignInPage()"> Return to sign page </a>
        
    </div>
</div>