<div class="container-fluid home-page">

    <div class="container-sm row">
        <div class="welcome-banner col-5">
            <!-- parte superior do lado esquerdo -->
            <div class="info">
                <h3 class="text"> eventish </h3>
                <h5 class="text"> all of your notes in one place </h5>
            </div>

            <!-- essa parte vai ser inferior, do lado esquerdo -->

            <div class="sign-up" >
                <p class="text"> Go to homepage</p>
                <button (click)="handleGoToHomePage()" class="btn btn-primary btn-outline">Home</button>
            </div>

        </div>

        <!-- parte da direita: poderá ser o component de login ou o de sign up -->
        <div class="user-form col-7">
            <div>
                <h4 class="text">reset your password</h4>
            </div>
            <div class="input-group mb-3 input-login">
                <span class="input-group-text">
                    <bi name="lock-fill"></bi>
                </span>
                <input type="password" class="form-control"
                    placeholder="Brand new password" aria-label="Password"
                    aria-describedby="basic-addon1" [(ngModel)]='password'>
            </div>

            <button (click)="handleResetPassword()" type="submit" class="btn btn-primary btn-filled">Reset</button>
            
        </div>
    </div>
</div>