<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../style/forgotPassword.css">
    </head>

    <body>
        <header>
            <h4 class="text"> eventish </h4>
            <p class="text"> Hey, {{userName}}. We've received a request to
                change password.
                If you think that's a mistake, just ignore this email; if not,
                just
                click the button bellow to be
                redirected to our resert account page. </p>
            <a href="http://localhost:4200/reset-password/{{resetPasswordUrlParam}}">> go to reset password page </a>
        </header>
    </body>

</html>
